<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<<a class = "menuItem" href = "/">Home</a>
		<a class = "menuItem" href = "/load">Load</a>
		<a class = "menuItem" href = "/profile">Profile</a>
				<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		<h1 class = "menuItem"><%= user %></h1>
	</div>
	<div id ="content">
		<div class = "log">
		<h1><%= message %></h1>
		<form method="post">
			<b>Login: <br/><input name = "username"/><hr/>
			Password: <br/><input name = "password" type = "password"/><hr/>
			<button name = "Log in" class = "button">Log in</button>
		</form>
		<br/>
		<hr/>
		<br/>
		
		<form method="post" action = "signup">
			Login: <br/><input name = "username"/><hr/>
			Password: <br/><input name = "password" type = "password"/><hr/>
			Repeat Password: </b><br/><input name = "password_repeat" type = "password"/><hr/>
			<button name = "Sign un" class = "button">Sign up</button>
		</form>
		</div>
	</div>
	<div id = "header">
	</div>

</body>
</html>