<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<<a class = "menuItem" href = "/">Home</a>
		<a class = "menuItem" href = "/load">Load</a>
		<a class = "menuItem" href = "/profile">Profile</a>
				<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		<h1 class = "menuItem"><%= user %></h1>
	</div>
	<div id ="content">
		<%
				console.log(conf.length);
				for(var i =0;i<conf.length;++i) {
				console.log(conf[i].result);
		%>
			<h1>File: <%= conf[i].file %> </h1><br><img src = <%= "/assets/"+conf[i].result+".jpg"%>>
		<% } %>
		<h1>Welcome Profile</h1>
	</div>
	<div id = "header">
	</div>

</body>
</html>