<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } console.log("fff") %>
		</a>
		</a>
		<a class = "menuItem" href = "">Link 1</a>
		<a class = "menuItem" href = "">Link 1</a>
		<h1 class = "menuItem"><%= user %></h1>
	</div>
	<div id ="content">
		<h1>Welcome to online shop</h1>
	</div>
	<div id = "header">
	</div>

</body>
</html>