<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<a class = "menuItem" href = "/login">
				<% if(!user) { %> Log in <% } else { %> Log out <% } console.log("fff") %>
		</a>
		<a class = "menuItem" href = "">Link 1</a>
		<a class = "menuItem" href = "">Link 1</a>
	</div>
	<div id ="content">
		<div class = "log">
		<h1><%= message %></h1>
		<form method="post">
			Login: <input name = "username"/>
			Password: <input name = "password" type = "password"/>
			<button name = "Log in" class = "button">Log in</button>
		</form>
		
		<form method="post" action = "signup">
			Login: <input name = "username"/>
			Password: <input name = "password" type = "password"/>
			Repeat Password: <input name = "password_repeat" type = "password"/>
			<button name = "Sign un" class = "button">Sign up</button>
		</form>
		</div>
	</div>
	<div id = "header">
	</div>

</body>
</html>