@charset "utf-8";
/* CSS Document */
#header
{
	width:100%;
	height:100px;
	background-image: linear-gradient(0deg, #FFF, #CCC);
	bacground-repeat:repeat-x;
}
#about
{
	width:12%;
	float:right;
}
#menu
{
	position:fixed;
	top:8px;
	width:300px;
	height:98vh;
	background-image: linear-gradient(45deg, #FFF, #CCC);
}

.item:hover
{
	color:red;
	font-size:36px;
	padding-bottom:10%;
	padding-top:10%;
	font-weight:bold;
}

.item
{
	padding-top:5%;
	padding-bottom:5%;
}
#content
{
	position:absolute;
/*	padding-left:310px;*/
	left:310px;
	height:85vh;
	width:160vh;
	background-color:#EEE;
}
.split
{
	width:400px;
	margin-left:0px;
}


.caption
{
	color:red;
}

.icon 
{
	height:30px;
	width:30px;
	padding-right:10px
}

#sample
{
	width:155vh;
	border:1px solid black;
}

.result
{

}

#imageCss
{
	margin: auto;
	width: 39.5%;
    border: 3px solid #73AD21;
    padding: 10px;
	height:35vh;
}

#css 
{
/*	height:35vh;*/
/*	height:265px;*/
	position:absolute;
}

textarea
{
    resize: none;
	
}