<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<<a class = "menuItem" href = "/">Home</a>
		<a class = "menuItem" href = "/load">Load</a>
		<a class = "menuItem" href = "/profile">Profile</a>
				<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		<% if(admin) { %><a href = "/admin" class = "menuItem"><%= user %></a> <% } else 
		{ %> <h1 class = "menuItem"><%= user %></h1> <% } %>
	</div>
	<div id ="content">
		<h1>Some error occured</h1>
		<hr>
		<h1><%= err_mess  %></h1>
	</div>
	<div id = "header">
	</div>

</body>
</html>