<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/index.css">
</head>
<body>
	<div id = "header">
		<<a class = "menuItem" href = "/">Home</a>
		<a class = "menuItem" href = "/load">Load</a>
		<a class = "menuItem" href = "/profile">Profile</a>
				<a class = "menuItem" href = "/login">
			<% if(!user) { %> Log in <% } else { %> Log out <% } %>
		</a>
		<% if(admin) { %><a href = "/admin" class = "menuItem"><%= user %></a> <% } else 
		{ %> <h1 class = "menuItem"><%= user %></h1> <% } %>
	</div>
	<div id ="content">
		<table caption = "Ctalog" class="steelBlueCols">
			<tr>
				<th>Server</th>
				<th>Threads</th>
			</tr>
			
			<% for(var i =0;i<conf.length;++i) { %>
			<tr>
				<td> Server № <%= conf[i].server %> </td>
				<td> <%= conf[i].threads %> files on processing</td>
			</tr>
			<% } %>
		</table>
	</div>
	<div id = "header">
	</div>

</body>
</html>